@{
    Layout = null;
}
<body>
    @Html.Partial("Layout")
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    </div>
</body>