﻿﻿@model ExploreLocal.Models.Tbl_Comments
<head>
    <title>Delete Your Category - FlavourFusion</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Poppins', sans-serif;
    }

    .delete-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-group {
        display: flex;
        justify-content: center;
        padding-left: 5px;
        width: 100%;
    }

    #theendbtn {
        font-size: 24px;
        width: 100%;
        height: 60px;
        margin-left: 5px;
        font-weight: 600;
    }
</style>
<div style="display:flex;justify-content:center;align-items:center;height:100vh;">
    @using (Html.BeginForm("Delete", "ExploreLocal", FormMethod.Post, new { @class = "delete-form" }))
    {
        <div class="form-wrapper">
            <form>
                <h3>Do You Want to Delete This Comment 🤔?</h3>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.CommentText, new { @class = "form-control", @readonly = "readonly", @style = "box-shadow: rgba(100, 100, 111, 0.08) 0px 7px 29px 0px;" })
                    <input type="submit" style="margin-top:5px;background-color:darkorange;color:white;border-radius:8px;" value="YES" class="btn-danger" id="theendbtn" />
                </div>
            </form>
        </div>
     }
</div>