<main style="margin-top:80px;">
    <section class="layout-pt-md">
        <div class="container">
            <div class="row justify-center text-center">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Welcome to the Help Center</h2>
                        <p class="sectionTitle__text mt-5 sm:mt-0">Get answers to common questions</p>
                    </div>
                </div>
            </div>

            <div class="row y-gap-30 pt-60 lg:pt-40">

                <div class="col-lg-4 col-md-6">
                    <div class="bg-blue-1-05 rounded-4 px-50 py-40">
                        <div class="size-70 bg-white rounded-full flex-center">
                            <img src="/Template/img/pages/help/icons/1.svg" alt="Booking Icon">
                        </div>

                        <div class="mt-24">
                            <div class="text-18 fw-500">Booking your activity</div>
                            <p class="mt-5">Learn how to book your favorite activities and experiences with ease.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="bg-blue-1-05 rounded-4 px-50 py-40">
                        <div class="size-70 bg-white rounded-full flex-center">
                            <img src="/Template/img/pages/help/icons/2.svg" alt="Payment Icon">
                        </div>

                        <div class="mt-24">
                            <div class="text-18 fw-500">Payment &amp; receipts</div>
                            <p class="mt-5">Understand payment options and how to access and manage your receipts.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="bg-blue-1-05 rounded-4 px-50 py-40">
                        <div class="size-70 bg-white rounded-full flex-center">
                            <img src="/Template/img/pages/help/icons/3.svg" alt="Changes & Refunds Icon">
                        </div>

                        <div class="mt-24">
                            <div class="text-18 fw-500">Booking changes &amp; refunds</div>
                            <p class="mt-5">Learn about the process of making changes to your booking and requesting refunds.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="bg-blue-1-05 rounded-4 px-50 py-40">
                        <div class="size-70 bg-white rounded-full flex-center">
                            <img src="/Template/img/pages/help/icons/4.svg" alt="Promo Codes & Credits Icon">
                        </div>

                        <div class="mt-24">
                            <div class="text-18 fw-500">Promo codes &amp; credits</div>
                            <p class="mt-5">Discover how to use promo codes and manage your account credits for discounts.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="bg-blue-1-05 rounded-4 px-50 py-40">
                        <div class="size-70 bg-white rounded-full flex-center">
                            <img src="/Template/img/pages/help/icons/5.svg" alt="Participation Day Icon">
                        </div>

                        <div class="mt-24">
                            <div class="text-18 fw-500">On the participation day</div>
                            <p class="mt-5">Get information about what to expect and prepare for on the day of participation.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="bg-blue-1-05 rounded-4 px-50 py-40">
                        <div class="size-70 bg-white rounded-full flex-center">
                            <img src="/Template/img/pages/help/icons/6.svg" alt="Value Packs Icon">
                        </div>

                        <div class="mt-24">
                            <div class="text-18 fw-500">Value Packs</div>
                            <p class="mt-5">Learn about value packs and how to make the most of bundled offerings.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="layout-pt-lg layout-pb-lg">
        <div class="container">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Frequently Asked Questions</h2>
                        <p class="sectionTitle__text mt-5 sm:mt-0">Find answers to common questions about travel and tours</p>
                    </div>
                </div>
            </div>

            <div class="row y-gap-30 justify-center pt-40 sm:pt-20">
                <div class="col-xl-8 col-lg-10">
                    <div class="accordion -simple row y-gap-20 js-accordion">

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">How do I book a tour package?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Booking a tour package is easy. Simply browse our website, select the tour package you're interested in, and follow the steps to make a reservation. You can also contact our customer support for assistance with the booking process.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">What is included in the tour package?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Our tour packages typically include accommodation, transportation, guided tours, meals, and other specified activities. The inclusions may vary depending on the package. Make sure to read the package details to understand what is covered.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">Can I customize a tour package?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Yes, many of our tour packages can be customized to fit your preferences. You can contact us to discuss your requirements, and we'll work with you to create a customized itinerary that suits your needs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">What is the cancellation policy?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Our cancellation policy varies depending on the tour package. Generally, cancellations made within a certain timeframe may incur a fee. It's recommended to review the specific cancellation policy for the package you're interested in.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">How can I contact customer support?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">You can easily reach our customer support team through our website's contact page or by using the provided contact information. Our dedicated support team is available to assist you with any questions or concerns you may have.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">Do you offer group discounts?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Yes, we offer group discounts for certain tour packages. If you're planning to book for a group, please contact us directly to inquire about available discounts and special rates for group bookings.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="layout-pt-md layout-pb-md bg-dark-2">
        <div class="container">
            <div class="row y-gap-30 justify-between items-center">
                <div class="col-auto">
                    <div class="row y-gap-20  flex-wrap items-center">
                        <div class="col-auto">
                            <div class="icon-newsletter text-60 sm:text-40 text-white"></div>
                        </div>

                        <div class="col-auto">
                            <h4 class="text-26 text-white fw-600">Your Travel Journey Starts Here</h4>
                            <div class="text-white">Sign up and we'll send the best deals to you</div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="single-field -w-410 d-flex x-gap-10 y-gap-20">
                        <div>
                            <input class="bg-white h-60" type="text" placeholder="Your Email">
                        </div>

                        <div>
                            <button class="button -md h-60 bg-blue-1 text-white">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>